<div class="container">
  <div class="row">

    <div class="col-6">
      <div class="account-wall">
        <!-- <img class="profile-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzZwDZRJafWeFuEYaT3F8671i46Qau-QjQXcxDbKmvGGpBouqF&s"
             alt=""> -->
             <h2>Login Form</h2>
        <form class="form-signin" [formGroup]="userForm" >
          <input type="text" class="form-control" formControlName="email" placeholder="Email" required autofocus>
        <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
          <label *ngIf="userForm.get('password').invalid && userForm.get('password').dirty" class = "error"> password is requird </label>
          <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">
            Sign in</button>
        </form>
      </div>
      <a routerLink="/register" class="text-center new-account">Create an account </a>
    </div>

  </div>
</div>
